.navbar{
    padding: 1em;
}
.navbar-brand{
    font-size:1.5em;
}
.navbar li{
   padding-left: 1em;
   padding-right: 1em;
   font-size:1.2em;
}
.counter {
    margin-left:auto;
}

.idea-bar{
    display:flex;
    width:90%
}
// .name{
//     width: 40%;
// }